/Release
/Release_GUI
/Debug
/Profile
/Coverage
/build_*
.project
.cproject
.settings

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

